/emulator/nbproject/private/
/emulator/build/
/emulator/dist/
/convertor/nbproject/private/
/convertor/build/
/frontend/nbproject/private/
/convertor/dist/
/frontend/build/
/emulator/roms/
*.hi
*.cfg
/convertor/c_code/vidhrdw/*.c
/convertor/c_code/drivers/*.c
/convertor/java_code/drivers/*.java
/convertor/java_code/vidhrdw/*.java